#logo {
    max-width: 10%;
    max-height: 10%;
}

#spacer {
  background-color: #f2af29;
  padding-top: 1%;
  margin-left: 0;
  margin-right: 0;
}

#navheader {
  border-bottom-width: 0px;
}

.nav-tabs-container {
    background-color: #646e78;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #f2af29;
    color: #000; /* Optional: Change text color for active tab */
    border-color: #f2af29;
  }
  